@media (min-width:1250px){
/*
Container containing all div elements and displaying as grid
*/
html {
    background-color: #d9d9d9;
    
}
#container { 
    align-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1650px;    
    height: auto;
    overflow:hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    
    "top"
    "webBanner"
    "webShowcase"
    "iUse"
    "illBanner"
    "illShowcase"
    "contactBanner"
    "contactShowcase"
    "socialMedia"
    "footer"
    ;
}

#webGrid {
    display: grid;
    grid-template-areas:
    "siteOne siteTwo"
    ;
}

main {
   font-family: 'Open Sans Condensed', sans-serif;
}



/*
nav
*/

nav {
    position: fixed; 
    width: 100%; 
    display: inline; 
    z-index: 10;   
    background-color: #708c78;   

    
    
}

nav ul {    
    background-color: #708c78;
    text-align: center;

  }
nav li {
    display:inline;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
   
  }
   
nav a {
    text-decoration: none;
    color: #000000;    
    transition: .5s background-color;
  }
   
nav a:hover {
    background-color: #708C78;
  }
   
nav a.active {
    background-color: #fff;
    color: #000000;
    cursor: default;
  }


#top {
    font-family: 'Londrina Sketch', cursive;
    font-size: 90pt;
    letter-spacing: 15pt;
    padding-top: 10%;
    padding-bottom: 12%;
    padding-left:25%;
    text-align: left;
    grid-area: top;
    background-color: #d9d9d9;    
    color: #1C2833;
}

header p {
    font-family: sans-serif;
    font-size: 10pt;
    letter-spacing: 1pt;
    text-align: left;
    margin-left: 20%;
}

h1 .textBoxContent {
    text-decoration: none;
}



#webBanner, #webShowcase, #illBanner, #illShowcase, #contactBanner, #contactShowcase, #socialMedia, #iUse
{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    
}

#webBanner {
    grid-area: webBanner;
    width:100%;
    font-size: 20pt;
    background-color: #403f3d;
    background-size: 100% 100%;
    color: #FEFEFE;
    
}

#webShowcase {
    grid-area: webShowcase;
    background-color: #ffffff;
    /*background-color: #d9d9d9;*/
    
}

#siteOne {
    grid-template-areas: siteOne;   
    position: relative;
       
}

#siteTwo {
    grid-template-areas: siteTwo;
    position: relative;
}

#siteThree {
    grid-template-areas: siteThree;
  
   
}


#iUse {
    grid-area: iUse;
    background-color: #FEFEFE;

}


#illBanner {
    font-size: 20pt;
    grid-area: illBanner;
    background-color: #d9b68b;
}

#illShowcase {
    grid-area: illShowcase;
    background-color: #d9d9d9;
}

#contactBanner {
    font-size: 20pt;
    color: #FEFEFE;
    grid-area: conatactBanner;
    background-color: #8c3d35;
}

#contactShowcase {
    grid-area: contactShowcase;
    background-color: #d9d9d9;
    display: flex;
    display: grid;
    grid-template-areas:
    "info form";
  
    
}

#info {
    grid-area: info;
    background-color: #f7f7f7;
    margin-left: 10%;
    
}

.contact {
    font-size: 20pt;
    display: inline;
}

#socialMedia {
    grid-area: socialMedia;
    background-color: #bebfb4;
    
}

footer {
    text-align: center;
    grid-area: footer;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 5%;
    padding-bottom: .5%;

}

.icon {
    padding-left: 5%;
    /*padding-right: 5%; change in media q for screen 900 or less width*/
    height: 100px;
    width: 100px;
    
}

.icon:hover {    
    color: #FEFEFE;
    opacity: 0.5;    
}



/*Closing media Query*/
}

